<a href="https://colab.research.google.com/github/NicoGangi5/Introduction_to_Deep_Learning_-_Neural_Networks_with_Keras/blob/main/FinalProject_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
import keras
from keras.models import Sequential
from keras.layers import Dense
from sklearn.metrics import mean_squared_error

In [ ]:
concrete_data = pd.read_csv('https://s3-api.us-geo.objectstorage.softlayer.net/cf-courses-data/CognitiveClass/DL0101EN/labs/data/concrete_data.csv')
concrete_data.head()

   Cement  Blast Furnace Slag  Fly Ash  ...  Fine Aggregate  Age  Strength
0   540.0                 0.0      0.0  ...           676.0   28     79.99
1   540.0                 0.0      0.0  ...           676.0   28     61.89
2   332.5               142.5      0.0  ...           594.0  270     40.27
3   332.5               142.5      0.0  ...           594.0  365     41.05
4   198.6               132.4      0.0  ...           825.5  360     44.30

[5 rows x 9 columns]

In [ ]:
concrete_data.shape

(1030, 9)

In [ ]:
concrete_data_columns = concrete_data.columns

predictors = concrete_data[concrete_data_columns[concrete_data_columns != 'Strength']] # all columns except Strength
target = concrete_data['Strength'] # Strength column

# Split the dataset into training and test 
X_train, X_test, y_train, y_test = train_test_split( predictors, target, test_size=0.3, random_state=4)
print ('Train set:', X_train.shape,  y_train.shape)
print ('Test set:', X_test.shape,  y_test.shape)

n_cols = predictors.shape[1] # number of predictors
print('Number of predictors:', n_cols)

Train set: (721, 8) (721,)
Test set: (309, 8) (309,)
Number of predictors: 8

In [ ]:
# define regression model
def regression_model():
    # create model
    model = Sequential()
    model.add(Dense(10, activation='relu', input_shape=(n_cols,)))
    model.add(Dense(1))
    
    # compile model
    model.compile(optimizer='adam', loss='mean_squared_error')
    return model

In [ ]:
# build the model
model = regression_model()

# fit the model
model.fit(X_train, y_train, epochs=50, verbose=1)

Epoch 1/50
23/23 [==============================] - 0s 951us/step - loss: 7887.6729
Epoch 2/50
23/23 [==============================] - 0s 856us/step - loss: 5667.6689
Epoch 3/50
23/23 [==============================] - 0s 972us/step - loss: 4126.2485
Epoch 4/50
23/23 [==============================] - 0s 872us/step - loss: 2924.9258
Epoch 5/50
23/23 [==============================] - 0s 884us/step - loss: 2047.3450
Epoch 6/50
23/23 [==============================] - 0s 888us/step - loss: 1398.2047
Epoch 7/50
23/23 [==============================] - 0s 879us/step - loss: 975.7880
Epoch 8/50
23/23 [==============================] - 0s 872us/step - loss: 684.9559
Epoch 9/50
23/23 [==============================] - 0s 857us/step - loss: 493.0306
Epoch 10/50
23/23 [==============================] - 0s 863us/step - loss: 400.8477
Epoch 11/50
23/23 [==============================] - 0s 973us/step - loss: 337.5137
Epoch 12/50
23/23 [==============================] - 0s 991us/step - loss: 299.3387
Epoch 13/50
23/23 [==============================] - 0s 929us/step - loss: 277.0537
Epoch 14/50
23/23 [==============================] - 0s 971us/step - loss: 261.9806
Epoch 15/50
23/23 [==============================] - 0s 992us/step - loss: 244.3996
Epoch 16/50
23/23 [==============================] - 0s 963us/step - loss: 233.6595
Epoch 17/50
23/23 [==============================] - 0s 974us/step - loss: 226.1678
Epoch 18/50
23/23 [==============================] - 0s 1ms/step - loss: 216.7073
Epoch 19/50
23/23 [==============================] - 0s 1ms/step - loss: 209.9672
Epoch 20/50
23/23 [==============================] - 0s 940us/step - loss: 203.3357
Epoch 21/50
23/23 [==============================] - 0s 953us/step - loss: 200.3467
Epoch 22/50
23/23 [==============================] - 0s 978us/step - loss: 191.4709
Epoch 23/50
23/23 [==============================] - 0s 1ms/step - loss: 185.7267
Epoch 24/50
23/23 [==============================] - 0s 1ms/step - loss: 179.2200
Epoch 25/50
23/23 [==============================] - 0s 1ms/step - loss: 174.2767
Epoch 26/50
23/23 [==============================] - 0s 1ms/step - loss: 165.0431
Epoch 27/50
23/23 [==============================] - 0s 956us/step - loss: 164.4246
Epoch 28/50
23/23 [==============================] - 0s 1ms/step - loss: 156.2493
Epoch 29/50
23/23 [==============================] - 0s 1ms/step - loss: 151.5902
Epoch 30/50
23/23 [==============================] - 0s 955us/step - loss: 144.9178
Epoch 31/50
23/23 [==============================] - 0s 941us/step - loss: 143.4148
Epoch 32/50
23/23 [==============================] - 0s 933us/step - loss: 134.5018
Epoch 33/50
23/23 [==============================] - 0s 907us/step - loss: 132.3361
Epoch 34/50
23/23 [==============================] - 0s 855us/step - loss: 129.0771
Epoch 35/50
23/23 [==============================] - 0s 986us/step - loss: 125.0117
Epoch 36/50
23/23 [==============================] - 0s 966us/step - loss: 122.3202
Epoch 37/50
23/23 [==============================] - 0s 1ms/step - loss: 122.3729
Epoch 38/50
23/23 [==============================] - 0s 980us/step - loss: 121.1311
Epoch 39/50
23/23 [==============================] - 0s 890us/step - loss: 117.2590
Epoch 40/50
23/23 [==============================] - 0s 1ms/step - loss: 117.2472
Epoch 41/50
23/23 [==============================] - 0s 1ms/step - loss: 122.4143
Epoch 42/50
23/23 [==============================] - 0s 1ms/step - loss: 112.2401
Epoch 43/50
23/23 [==============================] - 0s 1ms/step - loss: 111.0245
Epoch 44/50
23/23 [==============================] - 0s 1ms/step - loss: 112.3772
Epoch 45/50
23/23 [==============================] - 0s 937us/step - loss: 110.7831
Epoch 46/50
23/23 [==============================] - 0s 985us/step - loss: 112.1236
Epoch 47/50
23/23 [==============================] - 0s 943us/step - loss: 108.3356
Epoch 48/50
23/23 [==============================] - 0s 889us/step - loss: 106.6458
Epoch 49/50
23/23 [==============================] - 0s 973us/step - loss: 106.1160
Epoch 50/50
23/23 [==============================] - 0s 987us/step - loss: 109.9952

In [ ]:
# predict using X_test
y_pred = model.predict(X_test)

loss = mean_squared_error(y_test, y_pred)
mean = np.mean(loss)
standard_deviation = np.std(loss)

print("Mean Squared error:", mean)
print("Standar Deviation:", standard_deviation)

Mean Squared error: 147.76801408640864
Standar Deviation: 0.0

In [ ]:
# Repeat 50 times
total_mean_squared_errors = 50
epochs = 50
mean_squared_errors = []
for i in range(0, total_mean_squared_errors):
    # Split the dataset into training and test 
    X_train, X_test, y_train, y_test = train_test_split(predictors, target, test_size=0.3, random_state=i)

    # fit the model
    model.fit(X_train, y_train, epochs=epochs, verbose=0)

    # evaluate the model
    MSE = model.evaluate(X_test, y_test, verbose=0)
    print("MSE "+str(i+1)+": "+str(MSE))

    # predict using X_test
    y_pred = model.predict(X_test)
    mean_square_error = mean_squared_error(y_test, y_pred)
    mean_squared_errors.append(mean_square_error)

mean_squared_errors = np.array(mean_squared_errors)
mean = np.mean(mean_squared_errors)
standard_deviation = np.std(mean_squared_errors)

print('\n')
print("Below is the mean and standard deviation of " +str(total_mean_squared_errors) + " mean squared errors without normalized data. Total number of epochs for each training is: " +str(epochs) + "\n")
print("Mean: "+str(mean))
print("Standard Deviation: "+str(standard_deviation))

MSE 1: 99.31156921386719
MSE 2: 121.70720672607422
MSE 3: 114.50218963623047
MSE 4: 121.28292083740234
MSE 5: 129.21731567382812
MSE 6: 109.45514678955078
MSE 7: 131.82347106933594
MSE 8: 101.57779693603516
MSE 9: 119.52861022949219
MSE 10: 111.36884307861328
MSE 11: 103.61322021484375
MSE 12: 100.72726440429688
MSE 13: 114.59748840332031
MSE 14: 116.20218658447266
MSE 15: 109.61589813232422
MSE 16: 105.09192657470703
MSE 17: 104.24006652832031
MSE 18: 98.04107666015625
MSE 19: 94.99668884277344
MSE 20: 114.74411010742188
MSE 21: 101.8706283569336
MSE 22: 102.86392211914062
MSE 23: 107.56395721435547
MSE 24: 105.5282211303711
MSE 25: 109.3837890625
MSE 26: 109.92393493652344
MSE 27: 120.5337905883789
MSE 28: 109.22985076904297
MSE 29: 110.4109878540039
MSE 30: 122.40463256835938
MSE 31: 133.57421875
MSE 32: 109.28340911865234
MSE 33: 101.97503662109375
MSE 34: 109.32833099365234
MSE 35: 115.21002960205078
MSE 36: 124.82019805908203
MSE 37: 119.24950408935547
MSE 38: 119.84009552001953
MSE 39: 118.59719848632812
MSE 40: 118.17210388183594
MSE 41: 126.54017639160156
MSE 42: 112.1058120727539
MSE 43: 108.49859619140625
MSE 44: 106.91426849365234
MSE 45: 114.46784210205078
MSE 46: 117.02357482910156
MSE 47: 111.6849594116211
MSE 48: 114.09583282470703
MSE 49: 101.45844268798828
MSE 50: 109.34577178955078


Below is the mean and standard deviation of 50 mean squared errors without normalized data. Total number of epochs for each training is: 50

Mean: 112.27088286003158
Standard Deviation: 8.760005677366218