<a href="https://colab.research.google.com/github/NicoGangi5/Introduction_to_Deep_Learning_-_Neural_Networks_with_Keras/blob/main/FinalProject_4.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
import keras
from keras.models import Sequential
from keras.layers import Dense
from sklearn.metrics import mean_squared_error

In [ ]:
concrete_data = pd.read_csv('https://s3-api.us-geo.objectstorage.softlayer.net/cf-courses-data/CognitiveClass/DL0101EN/labs/data/concrete_data.csv')
concrete_data.head()

   Cement  Blast Furnace Slag  Fly Ash  ...  Fine Aggregate  Age  Strength
0   540.0                 0.0      0.0  ...           676.0   28     79.99
1   540.0                 0.0      0.0  ...           676.0   28     61.89
2   332.5               142.5      0.0  ...           594.0  270     40.27
3   332.5               142.5      0.0  ...           594.0  365     41.05
4   198.6               132.4      0.0  ...           825.5  360     44.30

[5 rows x 9 columns]

In [ ]:
concrete_data.shape

(1030, 9)

In [ ]:
concrete_data_columns = concrete_data.columns

predictors = concrete_data[concrete_data_columns[concrete_data_columns != 'Strength']] # all columns except Strength
target = concrete_data['Strength'] # Strength column

predictors_norm = (predictors - predictors.mean()) / predictors.std()

# Split the dataset into training and test 
X_train, X_test, y_train, y_test = train_test_split( predictors_norm, target, test_size=0.3, random_state=4)
print ('Train set:', X_train.shape,  y_train.shape)
print ('Test set:', X_test.shape,  y_test.shape)

n_cols = predictors_norm.shape[1] # number of predictors
print('Number of predictors norm:', n_cols)

Train set: (721, 8) (721,)
Test set: (309, 8) (309,)
Number of predictors norm: 8

In [ ]:
predictors_norm.head()

     Cement  Blast Furnace Slag  ...  Fine Aggregate       Age
0  2.476712           -0.856472  ...       -1.217079 -0.279597
1  2.476712           -0.856472  ...       -1.217079 -0.279597
2  0.491187            0.795140  ...       -2.239829  3.551340
3  0.491187            0.795140  ...       -2.239829  5.055221
4 -0.790075            0.678079  ...        0.647569  4.976069

[5 rows x 8 columns]

In [ ]:
# define regression model
def regression_model():
    # create model
    model = Sequential()
    model.add(Dense(10, activation='relu', input_shape=(n_cols,)))
    model.add(Dense(10, activation='relu'))
    model.add(Dense(10, activation='relu'))
    model.add(Dense(1))
    
    # compile model
    model.compile(optimizer='adam', loss='mean_squared_error')
    return model

In [ ]:
# build the model
model = regression_model()

# fit the model
model.fit(X_train, y_train, epochs=50, verbose=1)

Epoch 1/50
23/23 [==============================] - 0s 1ms/step - loss: 1581.6757
Epoch 2/50
23/23 [==============================] - 0s 985us/step - loss: 1548.4500
Epoch 3/50
23/23 [==============================] - 0s 960us/step - loss: 1508.7471
Epoch 4/50
23/23 [==============================] - 0s 996us/step - loss: 1457.9993
Epoch 5/50
23/23 [==============================] - 0s 960us/step - loss: 1387.7765
Epoch 6/50
23/23 [==============================] - 0s 999us/step - loss: 1287.4280
Epoch 7/50
23/23 [==============================] - 0s 1ms/step - loss: 1146.4987
Epoch 8/50
23/23 [==============================] - 0s 1ms/step - loss: 967.1952
Epoch 9/50
23/23 [==============================] - 0s 1ms/step - loss: 761.1841
Epoch 10/50
23/23 [==============================] - 0s 1ms/step - loss: 559.5325
Epoch 11/50
23/23 [==============================] - 0s 1ms/step - loss: 407.4594
Epoch 12/50
23/23 [==============================] - 0s 1ms/step - loss: 316.9149
Epoch 13/50
23/23 [==============================] - 0s 961us/step - loss: 271.2304
Epoch 14/50
23/23 [==============================] - 0s 1ms/step - loss: 243.1109
Epoch 15/50
23/23 [==============================] - 0s 1ms/step - loss: 227.1268
Epoch 16/50
23/23 [==============================] - 0s 990us/step - loss: 215.8546
Epoch 17/50
23/23 [==============================] - 0s 1ms/step - loss: 206.5179
Epoch 18/50
23/23 [==============================] - 0s 1ms/step - loss: 200.3052
Epoch 19/50
23/23 [==============================] - 0s 1ms/step - loss: 193.8429
Epoch 20/50
23/23 [==============================] - 0s 1ms/step - loss: 189.3068
Epoch 21/50
23/23 [==============================] - 0s 1ms/step - loss: 183.6660
Epoch 22/50
23/23 [==============================] - 0s 1ms/step - loss: 179.1441
Epoch 23/50
23/23 [==============================] - 0s 1ms/step - loss: 174.4801
Epoch 24/50
23/23 [==============================] - 0s 1ms/step - loss: 170.0822
Epoch 25/50
23/23 [==============================] - 0s 932us/step - loss: 165.9368
Epoch 26/50
23/23 [==============================] - 0s 969us/step - loss: 161.8802
Epoch 27/50
23/23 [==============================] - 0s 1ms/step - loss: 158.1257
Epoch 28/50
23/23 [==============================] - 0s 1ms/step - loss: 154.6427
Epoch 29/50
23/23 [==============================] - 0s 1ms/step - loss: 151.6269
Epoch 30/50
23/23 [==============================] - 0s 1ms/step - loss: 147.7957
Epoch 31/50
23/23 [==============================] - 0s 1ms/step - loss: 145.1632
Epoch 32/50
23/23 [==============================] - 0s 1ms/step - loss: 141.8289
Epoch 33/50
23/23 [==============================] - 0s 1ms/step - loss: 139.3356
Epoch 34/50
23/23 [==============================] - 0s 1ms/step - loss: 136.7199
Epoch 35/50
23/23 [==============================] - 0s 1ms/step - loss: 134.1556
Epoch 36/50
23/23 [==============================] - 0s 1ms/step - loss: 131.7854
Epoch 37/50
23/23 [==============================] - 0s 990us/step - loss: 129.4790
Epoch 38/50
23/23 [==============================] - 0s 981us/step - loss: 127.1755
Epoch 39/50
23/23 [==============================] - 0s 1ms/step - loss: 125.3115
Epoch 40/50
23/23 [==============================] - 0s 1ms/step - loss: 123.0322
Epoch 41/50
23/23 [==============================] - 0s 1ms/step - loss: 121.4152
Epoch 42/50
23/23 [==============================] - 0s 1ms/step - loss: 119.7103
Epoch 43/50
23/23 [==============================] - 0s 1ms/step - loss: 118.0856
Epoch 44/50
23/23 [==============================] - 0s 944us/step - loss: 115.7693
Epoch 45/50
23/23 [==============================] - 0s 1ms/step - loss: 113.8416
Epoch 46/50
23/23 [==============================] - 0s 1ms/step - loss: 112.2521
Epoch 47/50
23/23 [==============================] - 0s 1ms/step - loss: 110.0964
Epoch 48/50
23/23 [==============================] - 0s 989us/step - loss: 108.6418
Epoch 49/50
23/23 [==============================] - 0s 966us/step - loss: 107.0475
Epoch 50/50
23/23 [==============================] - 0s 1ms/step - loss: 105.3002

In [ ]:
# predict using X_test
y_pred = model.predict(X_test)

loss = mean_squared_error(y_test, y_pred)
mean = np.mean(loss)
standard_deviation = np.std(loss)

print("Mean Squared error:", mean)
print("Standar Deviation:", standard_deviation)

Mean Squared error: 133.24502833593291
Standar Deviation: 0.0

In [ ]:
# Repeat 50 times
total_mean_squared_errors = 50
epochs = 50
mean_squared_errors = []
for i in range(0, total_mean_squared_errors):
    # Split the dataset into training and test 
    X_train, X_test, y_train, y_test = train_test_split(predictors_norm, target, test_size=0.3, random_state=i)

    # fit the model
    model.fit(X_train, y_train, epochs=epochs, verbose=0)

    # evaluate the model
    MSE = model.evaluate(X_test, y_test, verbose=0)
    print("MSE "+str(i+1)+": "+str(MSE))

    # predict using X_test
    y_pred = model.predict(X_test)
    mean_square_error = mean_squared_error(y_test, y_pred)
    mean_squared_errors.append(mean_square_error)

mean_squared_errors = np.array(mean_squared_errors)
mean = np.mean(mean_squared_errors)
standard_deviation = np.std(mean_squared_errors)

print('\n')
print("Below is the mean and standard deviation of " +str(total_mean_squared_errors) + " mean squared errors without normalized data. Total number of epochs for each training is: " +str(epochs) + "\n")
print("Mean: "+str(mean))
print("Standard Deviation: "+str(standard_deviation))

MSE 1: 60.43968200683594
MSE 2: 55.324981689453125
MSE 3: 39.623313903808594
MSE 4: 39.51395797729492
MSE 5: 38.21044158935547
MSE 6: 36.760555267333984
MSE 7: 41.43869400024414
MSE 8: 30.09797477722168
MSE 9: 33.42205047607422
MSE 10: 32.184871673583984
MSE 11: 28.433521270751953
MSE 12: 29.861072540283203
MSE 13: 31.154325485229492
MSE 14: 34.64802169799805
MSE 15: 26.514680862426758
MSE 16: 22.901105880737305
MSE 17: 25.904829025268555
MSE 18: 26.414730072021484
MSE 19: 25.891191482543945
MSE 20: 26.275222778320312
MSE 21: 24.367355346679688
MSE 22: 24.362707138061523
MSE 23: 23.927417755126953
MSE 24: 21.834379196166992
MSE 25: 28.28553009033203
MSE 26: 27.809537887573242
MSE 27: 24.393835067749023
MSE 28: 23.80508041381836
MSE 29: 26.74079132080078
MSE 30: 23.867477416992188
MSE 31: 22.685836791992188
MSE 32: 22.012914657592773
MSE 33: 22.444482803344727
MSE 34: 21.338666915893555
MSE 35: 26.403684616088867
MSE 36: 28.522220611572266
MSE 37: 20.306583404541016
MSE 38: 24.426233291625977
MSE 39: 26.125259399414062
MSE 40: 19.597801208496094
MSE 41: 25.019742965698242
MSE 42: 20.764028549194336
MSE 43: 22.309284210205078
MSE 44: 22.185226440429688
MSE 45: 26.90992546081543
MSE 46: 22.355083465576172
MSE 47: 22.704017639160156
MSE 48: 19.87617301940918
MSE 49: 23.822601318359375
MSE 50: 23.445959091186523


Below is the mean and standard deviation of 50 mean squared errors without normalized data. Total number of epochs for each training is: 50

Mean: 27.953301744282104
Standard Deviation: 8.11312592114318