<a href="https://colab.research.google.com/github/NicoGangi5/Introduction_to_Deep_Learning_-_Neural_Networks_with_Keras/blob/main/FinalProject_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
import keras
from keras.models import Sequential
from keras.layers import Dense
from sklearn.metrics import mean_squared_error

In [ ]:
concrete_data = pd.read_csv('https://s3-api.us-geo.objectstorage.softlayer.net/cf-courses-data/CognitiveClass/DL0101EN/labs/data/concrete_data.csv')
concrete_data.head()

   Cement  Blast Furnace Slag  Fly Ash  ...  Fine Aggregate  Age  Strength
0   540.0                 0.0      0.0  ...           676.0   28     79.99
1   540.0                 0.0      0.0  ...           676.0   28     61.89
2   332.5               142.5      0.0  ...           594.0  270     40.27
3   332.5               142.5      0.0  ...           594.0  365     41.05
4   198.6               132.4      0.0  ...           825.5  360     44.30

[5 rows x 9 columns]

In [ ]:
concrete_data.shape

(1030, 9)

In [ ]:
concrete_data_columns = concrete_data.columns

predictors = concrete_data[concrete_data_columns[concrete_data_columns != 'Strength']] # all columns except Strength
target = concrete_data['Strength'] # Strength column

predictors_norm = (predictors - predictors.mean()) / predictors.std()

# Split the dataset into training and test 
X_train, X_test, y_train, y_test = train_test_split( predictors_norm, target, test_size=0.3, random_state=4)
print ('Train set:', X_train.shape,  y_train.shape)
print ('Test set:', X_test.shape,  y_test.shape)

n_cols = predictors_norm.shape[1] # number of predictors
print('Number of predictors norm:', n_cols)

Train set: (721, 8) (721,)
Test set: (309, 8) (309,)
Number of predictors norm: 8

In [ ]:
predictors_norm.head()

     Cement  Blast Furnace Slag  ...  Fine Aggregate       Age
0  2.476712           -0.856472  ...       -1.217079 -0.279597
1  2.476712           -0.856472  ...       -1.217079 -0.279597
2  0.491187            0.795140  ...       -2.239829  3.551340
3  0.491187            0.795140  ...       -2.239829  5.055221
4 -0.790075            0.678079  ...        0.647569  4.976069

[5 rows x 8 columns]

In [ ]:
# define regression model
def regression_model():
    # create model
    model = Sequential()
    model.add(Dense(10, activation='relu', input_shape=(n_cols,)))
    model.add(Dense(1))
    
    # compile model
    model.compile(optimizer='adam', loss='mean_squared_error')
    return model

In [ ]:
# build the model
model = regression_model()

# fit the model
model.fit(X_train, y_train, epochs=50, verbose=1)

Epoch 1/50
23/23 [==============================] - 0s 961us/step - loss: 1581.1930
Epoch 2/50
23/23 [==============================] - 0s 916us/step - loss: 1564.2495
Epoch 3/50
23/23 [==============================] - 0s 951us/step - loss: 1547.9241
Epoch 4/50
23/23 [==============================] - 0s 852us/step - loss: 1531.8738
Epoch 5/50
23/23 [==============================] - 0s 1ms/step - loss: 1516.1357
Epoch 6/50
23/23 [==============================] - 0s 915us/step - loss: 1500.2942
Epoch 7/50
23/23 [==============================] - 0s 956us/step - loss: 1484.5007
Epoch 8/50
23/23 [==============================] - 0s 982us/step - loss: 1468.1356
Epoch 9/50
23/23 [==============================] - 0s 972us/step - loss: 1451.7924
Epoch 10/50
23/23 [==============================] - 0s 1ms/step - loss: 1434.5088
Epoch 11/50
23/23 [==============================] - 0s 1ms/step - loss: 1416.9302
Epoch 12/50
23/23 [==============================] - 0s 1ms/step - loss: 1398.5305
Epoch 13/50
23/23 [==============================] - 0s 1ms/step - loss: 1379.8527
Epoch 14/50
23/23 [==============================] - 0s 1ms/step - loss: 1360.4014
Epoch 15/50
23/23 [==============================] - 0s 1ms/step - loss: 1340.1766
Epoch 16/50
23/23 [==============================] - 0s 1ms/step - loss: 1319.7227
Epoch 17/50
23/23 [==============================] - 0s 1ms/step - loss: 1298.2000
Epoch 18/50
23/23 [==============================] - 0s 1ms/step - loss: 1276.0586
Epoch 19/50
23/23 [==============================] - 0s 1ms/step - loss: 1253.4589
Epoch 20/50
23/23 [==============================] - 0s 1ms/step - loss: 1230.1239
Epoch 21/50
23/23 [==============================] - 0s 1ms/step - loss: 1206.2599
Epoch 22/50
23/23 [==============================] - 0s 1ms/step - loss: 1181.5530
Epoch 23/50
23/23 [==============================] - 0s 1ms/step - loss: 1156.6853
Epoch 24/50
23/23 [==============================] - 0s 1ms/step - loss: 1131.5312
Epoch 25/50
23/23 [==============================] - 0s 1ms/step - loss: 1105.6760
Epoch 26/50
23/23 [==============================] - 0s 990us/step - loss: 1079.1073
Epoch 27/50
23/23 [==============================] - 0s 1ms/step - loss: 1052.9390
Epoch 28/50
23/23 [==============================] - 0s 1ms/step - loss: 1025.9121
Epoch 29/50
23/23 [==============================] - 0s 1ms/step - loss: 999.1832
Epoch 30/50
23/23 [==============================] - 0s 1ms/step - loss: 972.3181
Epoch 31/50
23/23 [==============================] - 0s 1ms/step - loss: 944.8207
Epoch 32/50
23/23 [==============================] - 0s 1ms/step - loss: 917.7853
Epoch 33/50
23/23 [==============================] - 0s 992us/step - loss: 890.4332
Epoch 34/50
23/23 [==============================] - 0s 1ms/step - loss: 862.7991
Epoch 35/50
23/23 [==============================] - 0s 1ms/step - loss: 835.7795
Epoch 36/50
23/23 [==============================] - 0s 1ms/step - loss: 808.0573
Epoch 37/50
23/23 [==============================] - 0s 1ms/step - loss: 780.9340
Epoch 38/50
23/23 [==============================] - 0s 1ms/step - loss: 753.9451
Epoch 39/50
23/23 [==============================] - 0s 1ms/step - loss: 726.8176
Epoch 40/50
23/23 [==============================] - 0s 1ms/step - loss: 700.2919
Epoch 41/50
23/23 [==============================] - 0s 1ms/step - loss: 674.3062
Epoch 42/50
23/23 [==============================] - 0s 923us/step - loss: 648.4423
Epoch 43/50
23/23 [==============================] - 0s 1ms/step - loss: 623.8893
Epoch 44/50
23/23 [==============================] - 0s 959us/step - loss: 599.8550
Epoch 45/50
23/23 [==============================] - 0s 861us/step - loss: 576.3026
Epoch 46/50
23/23 [==============================] - 0s 1ms/step - loss: 553.7072
Epoch 47/50
23/23 [==============================] - 0s 1ms/step - loss: 532.2155
Epoch 48/50
23/23 [==============================] - 0s 989us/step - loss: 510.9229
Epoch 49/50
23/23 [==============================] - 0s 1ms/step - loss: 491.1116
Epoch 50/50
23/23 [==============================] - 0s 1ms/step - loss: 472.0462

In [ ]:
# predict using X_test
y_pred = model.predict(X_test)

loss = mean_squared_error(y_test, y_pred)
mean = np.mean(loss)
standard_deviation = np.std(loss)

print("Mean Squared error:", mean)
print("Standar Deviation:", standard_deviation)

Mean Squared error: 481.81112976091623
Standar Deviation: 0.0

In [ ]:
# Repeat 50 times
total_mean_squared_errors = 50
epochs = 50
mean_squared_errors = []
for i in range(0, total_mean_squared_errors):
    # Split the dataset into training and test 
    X_train, X_test, y_train, y_test = train_test_split(predictors_norm, target, test_size=0.3, random_state=i)

    # fit the model
    model.fit(X_train, y_train, epochs=epochs, verbose=0)

    # evaluate the model
    MSE = model.evaluate(X_test, y_test, verbose=0)
    print("MSE "+str(i+1)+": "+str(MSE))

    # predict using X_test
    y_pred = model.predict(X_test)
    mean_square_error = mean_squared_error(y_test, y_pred)
    mean_squared_errors.append(mean_square_error)

mean_squared_errors = np.array(mean_squared_errors)
mean = np.mean(mean_squared_errors)
standard_deviation = np.std(mean_squared_errors)

print('\n')
print("Below is the mean and standard deviation of " +str(total_mean_squared_errors) + " mean squared errors without normalized data. Total number of epochs for each training is: " +str(epochs) + "\n")
print("Mean: "+str(mean))
print("Standard Deviation: "+str(standard_deviation))

MSE 1: 117.98587036132812
MSE 2: 130.67160034179688
MSE 3: 109.93852233886719
MSE 4: 119.9991683959961
MSE 5: 119.77371215820312
MSE 6: 103.49329376220703
MSE 7: 122.73470306396484
MSE 8: 90.0230484008789
MSE 9: 102.3129653930664
MSE 10: 87.09075164794922
MSE 11: 76.0615463256836
MSE 12: 67.12398529052734
MSE 13: 78.74388122558594
MSE 14: 79.6175765991211
MSE 15: 68.93462371826172
MSE 16: 59.00166320800781
MSE 17: 54.29827880859375
MSE 18: 49.0284309387207
MSE 19: 43.213016510009766
MSE 20: 40.92918395996094
MSE 21: 36.91984176635742
MSE 22: 39.06624984741211
MSE 23: 35.2484245300293
MSE 24: 35.95947265625
MSE 25: 37.928199768066406
MSE 26: 36.99430465698242
MSE 27: 33.94084548950195
MSE 28: 34.42399215698242
MSE 29: 39.981468200683594
MSE 30: 38.85337829589844
MSE 31: 34.776222229003906
MSE 32: 34.72682189941406
MSE 33: 34.17285919189453
MSE 34: 36.42433547973633
MSE 35: 36.67631149291992
MSE 36: 41.86855697631836
MSE 37: 31.687143325805664
MSE 38: 37.83971405029297
MSE 39: 34.91993713378906
MSE 40: 30.28179931640625
MSE 41: 37.81065368652344
MSE 42: 32.33198165893555
MSE 43: 34.985416412353516
MSE 44: 41.27669143676758
MSE 45: 38.482872009277344
MSE 46: 37.403236389160156
MSE 47: 36.67691421508789
MSE 48: 37.5994758605957
MSE 49: 36.553497314453125
MSE 50: 37.709922790527344


Below is the mean and standard deviation of 50 mean squared errors without normalized data. Total number of epochs for each training is: 50

Mean: 56.28992674947269
Standard Deviation: 30.11543878064394